@model AzureRoadshow.VideoStore.Models.EF.Address

@*<div class="display-label">
    @Html.DisplayNameFor(model => model.AddressType)
</div>*@
<div class="display-field">
    @Html.DisplayFor(model => model.AddressType)
</div>

@*<div class="display-label">
    @Html.DisplayNameFor(model => model.Road)
</div>*@
<div class="display-field">
    @Html.DisplayFor(model => model.Road)
</div>

@*<div class="display-label">
    @Html.DisplayNameFor(model => model.Town)
</div>*@
<div class="display-field">
    @Html.DisplayFor(model => model.Town)
</div>

@*<div class="display-label">
    @Html.DisplayNameFor(model => model.State)
</div>*@
<div class="display-field">
    @Html.DisplayFor(model => model.State)
</div>

@*<div class="display-label">
    @Html.DisplayNameFor(model => model.ZipCode)
</div>*@
<div class="display-field">
    @Html.DisplayFor(model => model.ZipCode)
</div>